html {
  padding: 10;
  margin: 10;
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  padding: 10px;
}

.collection-row {
  padding-bottom: 10px;
  float: left;
  height: 200px;
  width: 100%;
  white-space: nowrap;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-right: 360px;
}

label {
  color: whitesmoke;
  font-size: 32px;
  font-weight: bold;
}

.highlighted-image {
  background-color: whitesmoke;
  display: inline-block;
}

nav {
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
}

#imageContainer {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
  padding: 10;
  margin: 10;
  height: 100%;
  width: 100%;
  float: left;
  padding: 30px;
}

img {
  width: 20%;
  height: auto;
}
