html {
  padding: 10;
  margin: 10;
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  padding: 10px;
}

.collection-row {
  padding-bottom: 10px;
  float: left;
  height: 200px;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.heading-label {
  color: whitesmoke;
  font-size: 32px;
  font-weight: bold;
}

.highlighted-image {
  background-color: whitesmoke;
  display: inline-block;
}

#imageContainer {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  float: left;
  padding: 30px;
}

img {
  width: 300px;
  height: auto;
}

nav {
  width: 200px;
}

#currentSelectionLabel {
  font-size: 18px;
  position: fixed;
  padding: 10px;
  width: 175px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.preview-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  text-align: center;
}
